.idea/
*.txt
node_modules/
public/
!build/public/
*.sql
src/connectionProps.js
static/
!build/static/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
